@font-face {
    font-family: 'DejaVu Math TeX Gyre';
    src: local('DejaVuMathTeXGyre-Regular'),
        url('fonts/DejaVu/DejaVuMathTeXGyre-Regular.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuMathTeXGyre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans Bold Oblique'), local('DejaVuSans-BoldOblique'),
        url('fonts/DejaVu/DejaVuSans-BoldOblique.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSans-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans Bold'), local('DejaVuSans-Bold'),
        url('fonts/DejaVu/DejaVuSans-Bold.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans ExtraLight'), local('DejaVuSans-ExtraLight'),
        url('fonts/DejaVu/DejaVuSans-ExtraLight.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans Oblique'), local('DejaVuSans-Oblique'),
        url('fonts/DejaVu/DejaVuSans-Oblique.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSans-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Condensed';
    src: local('DejaVu Sans Condensed Bold'), local('DejaVuSansCondensed-Bold'),
        url('fonts/DejaVu/DejaVuSansCondensed-Bold.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSansCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans'), local('DejaVuSans'),
        url('fonts/DejaVu/DejaVuSans.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Condensed';
    src: local('DejaVu Sans Condensed Bold Oblique'), local('DejaVuSansCondensed-BoldOblique'),
        url('fonts/DejaVu/DejaVuSansCondensed-BoldOblique.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSansCondensed-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Condensed';
    src: local('DejaVu Sans Condensed Oblique'), local('DejaVuSansCondensed-Oblique'),
        url('fonts/DejaVu/DejaVuSansCondensed-Oblique.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSansCondensed-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: local('DejaVu Sans Mono Bold Oblique'), local('DejaVuSansMono-BoldOblique'),
        url('fonts/DejaVu/DejaVuSansMono-BoldOblique.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSansMono-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Condensed';
    src: local('DejaVu Sans Condensed'), local('DejaVuSansCondensed'),
        url('fonts/DejaVu/DejaVuSansCondensed.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSansCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: local('DejaVu Sans Mono Oblique'), local('DejaVuSansMono-Oblique'),
        url('fonts/DejaVu/DejaVuSansMono-Oblique.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSansMono-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: local('DejaVu Sans Mono'), local('DejaVuSansMono'),
        url('fonts/DejaVu/DejaVuSansMono.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSansMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: local('DejaVu Sans Mono Bold'), local('DejaVuSansMono-Bold'),
        url('fonts/DejaVu/DejaVuSansMono-Bold.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSansMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: local('DejaVu Serif Italic'), local('DejaVuSerif-Italic'),
        url('fonts/DejaVu/DejaVuSerif-Italic.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: local('DejaVu Serif Bold Italic'), local('DejaVuSerif-BoldItalic'),
        url('fonts/DejaVu/DejaVuSerif-BoldItalic.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: local('DejaVu Serif'), local('DejaVuSerif'),
        url('fonts/DejaVu/DejaVuSerif.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif Condensed';
    src: local('DejaVu Serif Condensed Bold Italic'), local('DejaVuSerifCondensed-BoldItalic'),
        url('fonts/DejaVu/DejaVuSerifCondensed-BoldItalic.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSerifCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif Condensed';
    src: local('DejaVu Serif Condensed Bold'), local('DejaVuSerifCondensed-Bold'),
        url('fonts/DejaVu/DejaVuSerifCondensed-Bold.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSerifCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: local('DejaVu Serif Bold'), local('DejaVuSerif-Bold'),
        url('fonts/DejaVu/DejaVuSerif-Bold.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif Condensed';
    src: local('DejaVu Serif Condensed Italic'), local('DejaVuSerifCondensed-Italic'),
        url('fonts/DejaVu/DejaVuSerifCondensed-Italic.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSerifCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif Condensed';
    src: local('DejaVu Serif Condensed'), local('DejaVuSerifCondensed'),
        url('fonts/DejaVu/DejaVuSerifCondensed.woff2') format('woff2'),
        url('fonts/DejaVu/DejaVuSerifCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

